.tech-stack {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .tech-stack .title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .tech-stack .skill-set {
    border: 1px solid var(--dark);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.8rem;
    font-size: 14px;
    color: var(--dark);
    margin: 0.4rem 0.6rem 0.4rem 0;
  }
  
  .tech-stack .skill-set:hover {
    background: var(--lavender);
  }